.Infinite
  width: 265px
  height: 940px
  background-image: url("./mix2.png")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  z-index: 1000
  

@keyframes scroll
  100%
    background-position: 0 -900px

  
